Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
*.stamp
*.dirstamp
.deps
missing
*.o
stamp-h*
.libs

m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

intltool-extract.in
intltool-merge.in
intltool-update.in

*.la
*.lo
/budgie-screenshot-applet/*.c
/data/*.c
/data/*.h
*.stamp*

*.ui~

*.valid

/po/*.gmo
/po/Makefile*
/po/POTFILES
/po/stamp-it